@import "tailwindcss";

@theme {
  --color-primary: #61CE70;
  --color-background-main: #FFFAF5;
  --color-background-alt: #DAF3F7;
  --color-text-main: #28303D;
  --color-footer: #1A1A1A;

  --font-anton: var(--font-anton);
  --font-roboto: var(--font-roboto);
  --font-roboto-slab: var(--font-roboto-slab);
}

body {
  background-color: var(--color-background-main);
  color: var(--color-text-main);
  font-family: var(--font-roboto), sans-serif;
}
