@import "tailwindcss";

@theme {
  --color-primary: #61CE70;
  --color-background-main: #FFFAF5;
  --color-background-alt: #DAF3F7;
  --color-text-main: #28303D;
  --color-footer: #1A1A1A;

  --font-anton: var(--font-anton);
  --font-roboto: var(--font-roboto);
  --font-roboto-slab: var(--font-roboto-slab);
}

body {
  background-color: var(--color-background-main);
  color: var(--color-text-main);
  font-family: var(--font-roboto), sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background-pattern.png');
  background-repeat: repeat;
  background-size: 500px;
  /* Adjust size as needed */
  opacity: 0.05;
  /* Subtle opacity */
  z-index: -1;
  pointer-events: none;
}

/* Hamburger Menu Styles */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--color-text-main);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}